[submodule "themes/luci-theme-argon"]
	path = themes/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
[submodule "applications/luci-app-argon-config"]
	path = applications/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
[submodule "applications/luci-app-l2-isolation"]
	path = applications/luci-app-l2-isolation
	url = https://github.com/xize/luci-app-l2-isolation
[submodule "applications/luci-app-openclash"]
	path = applications/luci-app-openclash
	url = https://github.com/vernesong/OpenClash
